{:deps {org.clojure/clojure {:mvn/version "1.9.0"}}
 :aliases {:fig {:extra-deps
                  {org.clojure/clojurescript {:mvn/version "1.10.238"}
                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                   com.bhauman/figwheel-main {:mvn/version "0.1.3"}{{#react?}}
                   cljsjs/react {:mvn/version "15.6.1-1"}
                   cljsjs/react-dom {:mvn/version "15.6.1-1"}
                   sablono {:mvn/version "0.8.3"}{{/react?}}{{#reagent?}}
                   reagent {:mvn/version "0.7.0"}{{/reagent?}}{{#rum?}}
                   rum {:mvn/version "0.11.2"}{{/rum?}}}
                 :extra-paths ["resources" "target"]
                 :main-opts ["-m" "figwheel.main"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}}}
